.pageAlbumContainer {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  height: 100vh;
}

.albumWrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 10rem;
  justify-content: center;
}

.musicCardContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
