.headerContainer {
  align-items: center;
  background-color: rgb(2, 48, 49);
  display: flex;
  height: 6rem;
  justify-content: space-between;
  width: 100%;
}

.headerLogo {
  height: 6rem;
  margin: 0 0 2.5rem 3rem;
}

.headerLoaderContainer {
  margin: 0 6rem 1.2rem 0;
}

.userContainer {
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  color: rgb(41, 49, 61);
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  gap: 2rem;
  height: 3rem;
  margin-right: 3rem;
  padding: 0 4rem 0 0;
}

.profileIcon {
  color: rgb(47, 193, 140);
  font-size: 3rem;
}

.linkContainer {
  display: flex;
  width: 100%;
}

.linkRoute {
  background-color: rgb(240, 242, 245);
  color: rgb(47, 193, 140);
  display: flex;
  flex-grow: 1;
  font-size: 1.6rem;
  font-weight: 700;
  justify-content: center;
  padding: 2rem 5rem;
  text-decoration: none;
}

.addBorder {
  border-left: 5px solid white;
  border-right: 5px solid white;
}
